<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Culture=neutral" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Log4NetPath" value="C:\inetpub\wwwroot\CLVS\SumerMercado\Logs\" />

    <!--Coneccion SAP con SQL-->
    <add key="Server" value="CLVS-SQL02" />
    <add key="DST" value="dst_MSSQL2014" />
    <add key="UserName" value="manager" />
    <add key="Password" value="manager" />
    <add key="DBUser" value="sa" />
    <add key="DBPass" value="Cl@visCo1" />
    <add key="UseTrusted" value="true" />
    
    <!--Credenciales de correo electronico -->
    <add key="EmailUser" value="claviscoweb@clavisco.com" />
    <add key="Email" value="claviscoweb@clavisco.com" />
    <add key="EmailPassword" value="Clavisco1" />
    <add key="Port" value= "587" />
    <add key="Host" value="smtp.office365.com" />
    <add key="EnableSsl" value="true" />
    <add key="Timeout" value="10000" />
    
    <!--path para ruta de los reportes-->
    <add key="FilesPath" value="C:\inetpub\wwwroot\CLVS\SuperV2\FILES\"/>
       
    <add key="ReportPath" value="C:\Users\cl.allan.arias\Desktop\REPOS\SUPERV2\ClvsSuperAPIv2\NDESMO.PROCESS\Report\BalanceReport.rpt" />
    <!--<add key="ReportPathInventory" value="C:\inetpub\wwwroot\CLVS\NACASCOLO\POS\TEST\FILES\InventoryReport.rpt" />
    <add key="ReportPathCopy" value="C:\inetpub\wwwroot\CLVS\NACASCOLO\POS\TEST\FILES\ARInvCopyReport.rpt" />-->

    <!--PRUEBAS DEBUG-->
    
    <add key="apptoken" value="http://localhost:5021/token"/>
    <add key="urlverificationaccount" value="http://localhost:5020/#/verificationemail/"/>
    <add key="urlrecoverpswd" value="http://localhost:5020/#/recoveremail/"/>

    <!--PRUEBAS TEST-->

    <!--<add key="AppToken" value="https://superv2api.clavisco.com/token"/>
    <add key="UrlVerificationAccount" value="https://superv2api.clavisco.com/#/verificationEmail/"/>
    <add key="UrlRecoverPswd" value="https://superv2api.clavisco.com/#/recoverEmail/"/>-->

    <!--<add key="AppToken" value="https://possmapitest.clavisco.com/token"/>
    <add key="UrlVerificationAccount" value="https://possmapitest.clavisco.com/#/verificationEmail/"/>
    <add key="UrlRecoverPswd" value="https://possmapitest.clavisco.com/#/recoverEmail/"/>-->

    <!--PROD-->
    <!--<add key="AppToken" value="https://motodesmoposapi.clavisco.com/token"/>
    <add key="UrlVerificationAccount" value="https://motodesmopos.clavisco.com/#/verificationEmail/"/>
    <add key="UrlRecoverPswd" value="https://motodesmopos.clavisco.com/#/recoverEmail/"/>-->
    
  </appSettings>
  <connectionStrings>
    <!--test-->
    <add name="SuperV2_Entities" connectionString="Data Source=CLVSSQL01\TST;Initial Catalog=CLVS_SP_POS_TST;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--prod-->
    <!--<add name="SuperV2_Entities" connectionString="Data Source=CLVSSQL01\TST;Initial Catalog=CLVS_MD_POS;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <log4net debug="true">
    <appender name="CLVSLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-dd.MM.yyyy-'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="CLVSLogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>